

main {
    margin-left: 300px;
    margin-bottom: 200px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main h2 {
    color: black;
    font-size: 25px;
    font-weight:bold;
}

main p {
    color: black;
    font-weight: 300;    
}

strong {
    font-weight: 800;
}

.topic-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.topic-right {
background-color: rgb(22, 22, 50);
border-radius: 3px;
width: 100%;
min-height: 100px;
margin-top: 10px;
display: flex;
flex-direction: column;
padding-left: 20px;
justify-content: center;
align-items: flex-start;
}

.topic-right code {
    color: white;
    overflow-x:hidden;
}

.topic-lists {
    padding-left: 20px;
}

h4 a {
    color: black;
}
